.contact {
    position: relative;
    font-family: 'Nunito';
    padding: 72px 0 88px 0;
}

.contact h2 {
    font-weight: bold;
}

input.form-control{
    /* padding-left: 0; */
    border: solid 2px #ECE2CC;
    height: 64px;
    margin-top: 16px;
}

label{
    color: white;
}

input {
    /* border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important; */
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: #F9B623 2px solid;
}

.xaxa {
}

.sumbit {
    text-align: left;
    text-decoration: none !important;
    background: #F9B623;
    font-weight: bold;
    color: #fff;
    padding: 16px 32px;
    border: solid 1px #F9B623;
    border-radius: 10px;
    transition: .3s;
}

.sumbit:hover {
    background: rgb(212, 148, 8);
    transition: .3s;
}

.sumbit:hover {
    color: #fff;
}

.contact {
    background: #697C37;
}

.contact img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.nena{
    /* position: relative; */
}

.contact h2 {
    font-size: 40px;
    color: #fff;
}

.contact p {
    font-size: 16px;
    line-height: 32px;
    color: white;
    margin: 47px 0 49px 0;
}

@media screen and (max-width: 1199px) {
    .contact-img {
        filter: brightness(60%);
    }

}

@media screen and (max-width: 991px) {
    .contact-img {
        display: none;
    }

}